/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffff;
    color: #333;
}

header {
    background-color: #fae2f3;
    color: #fff;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo .logo-image {
    height: 40px;
    margin: auto;
}

.login-button {
    background-color: #fff;
    color: #f003a9;
    border: 1px solid #f003a9;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s ease;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    padding: 2rem;
}

.login-card {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    border: 1px solid #d0c3c3;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.login-card h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.login-card label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.login-card input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #d0c3c3;
    border-radius: 5px;
    font-size: 1rem;
}

.login-card input:focus {
    border-color: #d0c3c3;
    outline: none;
    box-shadow: 0 0 3px rgba(65, 65, 65, 0.5);
}

.login-card-button:hover {
    background-color: #fae2f3;
}

.login-card-button {
    align-self: flex-end;
    background-color: #ffff;
    color: #333;
    border: 1px solid #d0c3c3;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s ease;
}

footer {
    background-color: #fae2f3;
    color: #797979;
    width: 100%;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
}

footer a {
    color: #797979;
    font-size: 0.9rem;
}