* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffff;
    color: #333;
}

header {
    background-color: #fae2f3;
    color: #fff;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo .logo-image {
    height: 40px;
    margin: auto;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    padding: 2rem;
}

footer {
    background-color: #fae2f3;
    color: #797979;
    width: 100%;
    padding: 1rem;
    text-align: center;
    bottom: 0;
}

footer a {
    color: #797979;
    font-size: 0.9rem;
}


/*--------------- Login Page ---------------*/

.login-button {
    background-color: #fff;
    color: #f003a9;
    border: 1px solid #f003a9;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s ease;
}

.login-card {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    border: 1px solid #d0c3c3;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.login-card h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.login-card label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.login-card input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #d0c3c3;
    border-radius: 5px;
    font-size: 1rem;
}

.login-card input:focus {
    border-color: #d0c3c3;
    outline: none;
    box-shadow: 0 0 3px rgba(65, 65, 65, 0.5);
}

.login-card-button:hover {
    background-color: #fae2f3;
}

.login-card-button {
    align-self: flex-end;
    background-color: #ffff;
    color: #333;
    border: 1px solid #d0c3c3;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s ease;
}

.login-page footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


/*--------------- Index Page ---------------*/

.announces-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 60px;
    margin-bottom: 45px;
    justify-content: center;
}

.places-card {
    border: 1px solid #d0c3c3;
    padding: 1rem;
    border-radius: 10px;
    max-width: 275px;
    min-width: 200px;
    flex: 1 1 calc(33.333% - 32px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    
}

.places-card h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.places-card p {
    margin-bottom: 1rem;
    text-align: center;
}

.places-card .view-details-card-button {
    background-color: #ffff;
    color: #333;
    border: 1px solid #d0c3c3;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s ease;
}

.view-details-card-button:hover {
    background-color: #fae2f3;
}

.title-places {
    text-align: center;
    margin-bottom: 2rem;
}

.filter-price {
    text-align: center;
    margin-bottom: 1rem;
}

.filter-price input:focus {
    border-color: #d0c3c3;
    outline: none;
    box-shadow: 0 0 3px rgba(65, 65, 65, 0.5);
}


/*--------------- Place Page ---------------*/

.place-info {
    width: 100%;
    margin: 0 auto;
    margin-top: 1.5rem;
    border: 1px solid #d0c3c3;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.place-info p {
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
}

.place-info p:last-child {
    margin-bottom: 0;
}

.title-place {
    text-align: center;
    margin-top: 1.5rem;
}

.title-h2-place {
    margin-top: 3rem;
    text-align: left;
}

.review-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
    margin-bottom: 45px;
    justify-content: center;
}

.review-card {
    border: 1px solid #d0c3c3;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.review-card p {
    margin-bottom: 1rem;
    font-weight: bold;
}

.add-review-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
    margin-bottom: 45px;
    justify-content: center;
}

.add-review-card {
    border: 1px solid #d0c3c3;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.add-review-card label {
    margin-bottom: 1rem;
    font-weight: bold;
}

.add-review-card button {
    align-self: flex-end;
    background-color: #ffff;
    color: #333;
    border: 1px solid #d0c3c3;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s ease;
}

.add-review-card button:hover {
    background-color: #fae2f3;
}

.add-review-card textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #d0c3c3;
    border-radius: 5px;
    font-size: 1rem;
}

.add-review-card textarea:focus {
    border-color: #d0c3c3;
    outline: none;
    box-shadow: 0 0 3px rgba(65, 65, 65, 0.5);
}

.add-a-review-button {
    background-color: #fff;
    color: #f003a9;
    border: 1px solid #f003a9;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.add-a-review-button:hover {
    background-color: #fae2f3;
}


/*--------------- Add Review Page ---------------*/

.add-review-page footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.add-review-card-page {
    max-width: 400px;
    width: 100%;
    margin: 3rem auto;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.add-review-card-page textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #d0c3c3;
    border-radius: 5px;
    font-size: 1rem;
}


.add-review-card-page textarea:focus {
    border-color: #d0c3c3;
    outline: none;
    box-shadow: 0 0 3px rgba(65, 65, 65, 0.5);
}

.add-review-card-page button:hover {
    background-color: #fae2f3;
}

.add-review-card-page label {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.3rem;
}

.add-review-card-page button {
    align-self: flex-end;
    background-color: #ffff;
    color: #333;
    border: 1px solid #d0c3c3;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s ease;
}

.rating-star {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating-star input {
    display: none; 
}

.rating-star label {
    font-size: 2rem;
    color: #d0c3c3;
    cursor: pointer;
    transition: color 0.3s;
}

.rating-star label:hover,
.rating-star label:hover ~ label {
    color: #f003a9;
}

.rating-star input:checked ~ label {
    color: #f003a9;
}